[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
setuptools = "*"
pyprojroot = "*"
pathlib = "*"
pandas = "*"
numpy = "*"
requests = "*"
hackathon-somos-nlp-2023 = {editable = true, path = "."}
emoji = "*"
openpyxl = "*"
twarc = "*"
twarc-csv = "*"
detoxify = "*"
pigeon-jupyter = "*"
tweet-preprocessor = "*"

[dev-packages]

[requires]
python_version = "*"
